<div class="interactive-wrapper">
	
<div id="scrolly-2">
    <div class="scroll-wrapper">

        <div class="scroll-inner">
    		<div id="data-viz2"></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>This chart is a hypothetical example of sea level over a period of time - let's call it the present-day.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Here's the average sea height for this time period.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>A one in 100 year sea-level event is by definition relatively rare, with coastal flooding requiring unusual circumstances like the Sygna storm or the 2006 storm which devestated the waterfront at Collaroy.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>However, due to climate change the overall sea level is going to rise.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>This means that extreme sea level events will happen much more frequently, as everything will be higher - so the sea level heights that previously resulted from a severe storm can happen during much more mild weather and tides.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>In this simplified example, what was once a one in 100 event now happens 33 times in 100 - or a frequency similar to once every three years.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>